@import "../../variables.scss";

footer {
  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: $dark-text-color;
    font-size: $sm-font-size;
  }

  .road-img {
    width: 20px;
    height: 20px;
  }

  i {
    font-size: 1.5rem;
  }

  .follow-us-section {
    a > i {
      font-size: 2rem;
    }
  }
  > span{
    font-weight: bold;
    i{
      font-size : 1rem;
    }
  }
}
