<h1 class="page-header-txt text-center animation-duration-2000 animation-ease-in-out" pAnimateOnScroll enterClass="scalein" leaveClass="fadeout">Contact <span class="header-highlight">Us</span></h1>
<p-toast />
<div class="bg-white row contact-container">
  <img class="col-lg-6 animation-duration-2000 animation-ease-in-out" src="../../assets/Images/contact/consumer-service.jpg" alt="consumer service" pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" />
  <form class="contact-form col-lg-6 animation-duration-2000 animation-ease-in-out" #contactUsForm="ngForm" (submit)="sendEmail($event)" pAnimateOnScroll enterClass="scalein" leaveClass="fadeout">
    <div class="row mb-3">
      <div class="col-lg-6">
        <label class="mb-2">Name*</label>
      <input class="form-control" type="text" name="from_name" [(ngModel)]="contactPerson.from_name" placeholder="please enter here" required>
      </div>
      <div class="col-lg-6">
        <label class="mb-2">Phone*</label>
      <input class="form-control" type="text" name="phone_number" [(ngModel)]="contactPerson.phone_number" placeholder="please enter here" required>
      </div>
    </div>
    <label class="mb-2">Email*</label>
    <input class="form-control mb-3" type="email" name="from_email" [(ngModel)]="contactPerson.from_email" placeholder="please enter here" required>
    <label class="mb-2">Message*</label>
    <textarea class="form-control mb-3" name="message" [(ngModel)]="contactPerson.message" rows="5" placeholder="please enter here" required></textarea>
    <re-captcha class="mb-2" (resolved)="resolvedCaptcha($event)" siteKey="6Ld-e0YqAAAAAH7N1rd2GIjtsMIR_IDEQFhgdH62" required></re-captcha>
    <button class="mt-3 submit-contact" type="submit" [disabled]="contactUsForm.invalid">Submit</button>
  </form>
</div>
