<h1 class="text-center mb-5 fadein animation-duration-2000 animation-ease-in-out page-header-txt">About <span class="header-highlight">Surrey Express Cars </span></h1>
<div class="bg-white about-us-container">
  <div class="row">
    <div class="col-lg-6 fadein animation-duration-2000 animation-ease-in-out">
      <img src="../../assets/Images/about-us-car-img.jpg" alt="cars">
    </div>
    <div class="col-lg-6 fadein animation-duration-2000 animation-ease-in-out">
      <p>Surrey Express Cars is a new local iconic Taxi Company with one aim in mind, to cater for all your travelling needs. We offer a professional,
        safe and most importantly cost effective Cab service.</p>
      <p>All our drivers have passed the “Knowledge Test”, with geographical knowledge of Farnham Guildford & surrounding areas totalling over 25 years.</p>
      <p>Surrey Express Cars are always nearby ranking in and around Guildford, Surrey.</p>
      <p>We use the latest dispatch technology to ensure we deliver the highest standards of customer service. Your cab can be booked by phone, online or by requesting a call back.</p>
      <p>Our “Fair Fares” policy means you can agree your fare or go on the meter. No hidden charges.</p>
      <p>Surrey Express Cars are a friendly local Taxi Company and will always aim to go the extra mile to meet your needs. We welcome any feedback to help improve our customer service and to maintain our high standards. </p>
    </div>
  </div>
  <em class="text-center mt-2 fadein animation-duration-2000 animation-ease-in-out">A True Iconic Taxi Service. Simply call us and have a fully licensed Taxi Cab sent to your pick up point – Taking you anywhere, anytime!</em>
</div>
<h1 class="text-center mt-5 mb-5 fadein animation-duration-2000 animation-ease-in-out page-header-txt">Why <span class="header-highlight">Choose Us?</span></h1>
<div class="row choose-us">
  <div class="col-lg-4">
    <img src="../../assets/Images/about-us/variety-of-cars.jpg" alt="variety-of-cars">
    <h3 class="mt-3 text-center">Variey of Cars</h3>
  </div>
  <div class="col-lg-4">
    <img src="../../assets/Images/about-us/professional-drivers.jpg" alt="professional drivers">
    <h3 class="mt-3 text-center">Professional Drivers</h3>
  </div>
  <div class="col-lg-4">
    <img src="../../assets/Images/about-us/easy-booking.jpg" alt="easy booking">
    <h3 class="mt-3 text-center">Easy Online Booking</h3>
  </div>
</div>
