
<h1 class="text-center mt-5 thank-you-header">Thank <span class="header-highlight">You</span></h1>
<div class="bg-white thank-you-page-container d-flex align-items-center justify-content-center">
  <div class="thank-you-icon d-flex justify-content-center align-items-center">
    <i class="bi bi-envelope-check"></i>
  </div>
  <div class="back-to-home">
    <p>Thank you for submitting your request. We will get back to you soon.</p>
    <a [routerLink]="'/home'" >Back to Home</a>
  </div>
</div>
