/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "variables.scss";

body {
  margin: 0;
  background-color: $background-color;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white-color;
  text-shadow: 0 0 1px #b3aba5;
}

p {
  color: $white-color;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  li {
    list-style: none;
  }
}

button {
  cursor: pointer;
}

button.btn-web-primary {
  color: $btn-text-color;
  background-color: $btn-background-color;
  font-weight: 600;
  padding: 0.457rem 1rem;

  &:hover,
  &:focus,
  &:active {
    color: $btn-text-color;
    background-color: $btn-background-color;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  div.carousel {
    div.carousel-inner {
      .carousel-item {
        background-size: contain !important;
        background-position: bottom !important;

        &.slide-1 {
          background-position: center 4.688rem !important;
          h4 {
            font-size: 3rem !important;
          }

          p {
            font-size: 1rem !important;
          }
        }

        &.slide-2 {
          background-position: center 10rem !important;

          h4 {
            font-size: 2.5rem !important;
          }

          p {
            font-size: 1rem !important;
          }
        }

        &.slide-3 {
          .pickup-info {
            background-color: transparent !important;
            border: none !important;
            top: 4rem;

            > h4 {
              font-size: 4rem !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  div.carousel {
    div.carousel-inner {
      .carousel-item {
        &.slide-1 {
          h4 {
            font-size: 2rem !important;
            width: 100%;
          }

          .info-text {
            max-width: 100% !important;
            top: 5rem !important;
            left: 3rem !important;
          }
        }

        &.slide-2 {
          background-size: contain !important;
          background-position: bottom !important;

          h4 {
            font-size: 2rem !important;
            left: 3rem !important;
            top: 3rem !important;
          }

          .info-text {
            top: 6rem !important;

            p {
              max-width: 100% !important;
            }
          }
        }

        &.slide-3 {
          background-size: contain !important;
          background-position: center 15rem!important;
          .pickup-info {
            background-color: transparent !important;
            border: none !important;
            top: 4rem;

            > h4 {
              font-size: 4rem !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  div.carousel {
    div.carousel-inner {
      .carousel-item {
        &.slide-1 {
          background-size: contain !important;
          background-position: bottom !important;
          h4 {
            font-size: 2rem !important;
            width: 100%;
          }

          .info-text {
            max-width: 100% !important;
            top: 5rem !important;
            left: 3rem !important;
          }
        }

        &.slide-2 {
          background-size: contain !important;
          background-position: bottom !important;

          h4 {
            font-size: 2rem !important;
            left: 3rem !important;
            top: 3rem !important;
          }

          .info-text {
            top: 6rem !important;

            p {
              max-width: 100% !important;
            }
          }
        }

        &.slide-3 {
          background-size: contain !important;
          background-position: center 15rem!important;
          .pickup-info {
            background-color: transparent !important;
            border: none !important;
            top: 8rem;

            > h4 {
              font-size: 3rem !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 448px) {

  div.carousel {
    div.carousel-inner {
      height : 25rem !important;

      .carousel-item {
        &.slide-1 {
          background-size : contain !important;
          background-position: bottom !important;
          h4 {
            right : 0 !important;
            left : 2rem !important;
            font-size: 2rem !important;
            width: 100%;
            top : 1rem !important;
          }

          .info-text {
            max-width: 100% !important;
            top: 4rem !important;
            left: 2rem !important;

            p{
              font-size: .857rem !important;
            }

            button{
              display : none !important;
            }
          }
        }

        &.slide-2 {
          background-size: contain !important;
          background-position: bottom !important;

          h4 {
            right : 0 !important;
            font-size: 2rem !important;
            left: 2rem !important;
            top: 1rem !important;
          }

          .info-text {
            top: 4rem !important;
            right : 0 !important;
            left : 2rem !important;

            p {
              max-width: 100% !important;
              font-size: .857rem !important;
            }
          }
        }

        &.slide-3 {
          background-size: contain !important;
          background-position: bottom!important;
          .pickup-info {
            background-color: transparent !important;
            border: none !important;
            top: 2rem;

            > h4 {
              font-size: 3rem !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width : 448px) and (max-width : 576px){
  div.carousel {
    div.carousel-inner {
      height : 25rem !important;

      .carousel-item {
        &.slide-1 {
          background-size : contain !important;
          background-position: center 5rem !important;
          h4 {
            right : 0 !important;
            left : 2rem !important;
            font-size: 2rem !important;
            width: 100%;
            top : 1rem !important;
          }

          .info-text {
            max-width: 100% !important;
            top: 4rem !important;
            left: 2rem !important;

            p{
              font-size: .857rem !important;
            }

            button{
              display : none !important;
            }
          }
        }

        &.slide-2 {
          background-size: contain !important;
          background-position: bottom !important;

          h4 {
            right : 0 !important;
            font-size: 2rem !important;
            left: 2rem !important;
            top: 1rem !important;
          }

          .info-text {
            top: 4rem !important;
            right : 0 !important;
            left : 2rem !important;

            p {
              max-width: 100% !important;
              font-size: .857rem !important;
            }
          }
        }

        &.slide-3 {
          background-size: contain !important;
          background-position: bottom!important;
          .pickup-info {
            background-color: transparent !important;
            border: none !important;
            top: 2rem;

            > h4 {
              font-size: 3rem !important;
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 992px) {
//   .carousel {
//     .carousel-inner {
//       .carousel-item {
//         background-size: contain !important;
//         background-position: bottom !important;
//         &.slide-1 {
//           h4 {
//             font-size: 2rem !important;
//           }
//           p {
//             display: none;
//           }
//         }

//         &.slide-2 {
//           h4 {
//             right: 50% !important;
//             font-size: 2rem !important;
//           }
//           .info-text {
//             top: 6rem !important;
//             p {
//               font-size: 1rem !important;
//               max-width: 100% !important;
//             }
//           }
//         }

//         &.slide-3{
//           .pickup-info{
//             top : 8rem !important;
//           }
//         }
//       }
//     }
//   }

//   .service-info {
//     height: auto !important;
//     .service-img-cards {
//       margin-top: 1rem !important;
//       height: 300px !important;

//       &.business-prom-service {
//         height: 600px !important;
//       }
//     }
//   }

//   .safety-info {
//     .row {
//       gap: 2rem;
//     }
//   }

//   .fleet-section {
//     div.row {
//       gap: 1.5rem;

//       div.fleet-card {
//         div.car-image-container {
//           &:hover {
//             transform: none !important;
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 992px) and (min-width : 1200px) {
//   .carousel-item {
//     &.slide-2{
//       h4{
//         font-size: 2.5rem !important;
//       }
//     }
//   }
// }

// @media (max-width: 576px) {
//   .carousel{
//     .carousel-inner{
//       height: 450px !important;

//       .carousel-item{

//         &.slide-2{
//           h4{
//             top : 2rem !important;
//             font-size: 1.5rem !important;
//           }

//           .info-text{
//             top : 4rem !important;
//             left : 2rem !important;
//             max-width: 28rem !important;
//           }
//         }

//         &.slide-3{
//           .pickup-info{
//             width: 80%;
//             top : 4rem !important;
//             left: 10%;
//           }
//         }
//       }
//     }
//   }
// }
