/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "variables.scss";


body{
  margin : 0;
  background-color:  $background-color;

}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  color: $white-color;
  text-shadow: 0 0 1px #b3aba5;
}

p{
  color: $white-color;
}

a{
  text-decoration : none;
  cursor : pointer;
}

ul {
  li{
    list-style: none;
  }
}


button.btn-web-primary{
  color : $btn-text-color;
  background-color: $btn-background-color;
  font-weight: 600;
  padding : .457rem 1rem;

  &:hover{
    color : $btn-text-color;
    background-color: $btn-background-color;
  }
}


// @import "../../variables.scss";

// $imageRelativePath: "../../assets/Images/";
// $homePageRelativePath: $imageRelativePath + "home-page/";

// .carousel {
//   .carousel-inner {
//     height: 600px;
//     background: linear-gradient(to top right, #6a5549, #352921);
//     border-radius: 25px;

//     .carousel-item {
//       height: 100%;
//       width: 100%;
//       position: relative;
//       background-repeat: no-repeat;
//       opacity: 0.8;

//       h4 {
//         font-size: 4rem;
//         position: absolute;

//         .heading-light-text {
//           color: $heading-txt-color;
//           text-shadow: 0 0 1px $heading-txt-shadow-color;
//         }
//       }

//       .info-text {
//         position: absolute;
//         p {
//           color: $text-color;
//           font-size: $sm-md-font-size;
//         }
//       }

//       &.slide-1 {
//         @include set-background-image(
//           $imageRelativePath + "transparent-black-mercides.png",
//           45% 158%,
//           no-repeat,
//           700px 510px
//         );

//         h4 {
//           max-width: 22.5rem;
//           left: 3rem;
//           top: 2rem;
//         }

//         .info-text {
//           max-width: 24rem;
//           right: 3rem;
//           top: 2rem;
//         }
//       }

//       &.slide-2 {
//         @include set-background-image(
//           $imageRelativePath + "innova.png",
//           58% 120%,
//           no-repeat,
//           935px 450px
//         );

//         h4 {
//           right: 6rem;
//           top: 3rem;
//           font-size: 3rem;
//         }
//         .info-text {
//           left: 3rem;
//           top: 3rem;
//           p {
//             max-width: 24rem;
//           }
//         }
//       }

//       &.slide-3 {
//         @include set-background-image(
//           $imageRelativePath + "trasnparent-wolkswagen.png",
//           top,
//           no-repeat,
//           1100px 540px
//         );

//         .pickup-info {
//           position: absolute;
//           width: 70%;
//           height: 100px;
//           border: 1px solid #b09182;
//           left: 16%;
//           bottom: 4rem;
//           border-radius: $md-border-radius;
//           background: #796359;
//           padding: 0.5rem;

//           h4 {
//             position: relative;
//             font-weight: bold;
//             font-size: 2rem;
//           }

//           p {
//             color: #dfd9d6;
//             font-size: $sm-md-font-size;
//           }
//         }
//       }
//     }
//   }
// }

// .service-info {
//   width: 100%;
//   height: 500px;
//   margin: 2rem 0;
//   padding: 2rem;

//   > div {
//     width: 30%;

//     &:first-child {
//       width: 35%;
//     }

//     &.city-service-container {
//       h1 {
//         font-size: $md-font-size;
//       }
//       p {
//         font-size: $sm-font-size;
//       }

//       .service-img-cards {
//         border-radius: $md-border-radius;
//         position: relative;

//         &:after {
//           font-weight: bold;
//           content: "Book Now";
//           position: absolute;
//           padding: 0.457rem 1.26rem;
//           background: $white-color;
//           left: 1rem;
//           bottom: 1rem;
//           color: $dark-text-color;
//           border-radius: $sm-border-radius;
//         }

//         &.city-service {
//           height: 100%;
//           margin-top: 4rem;

//           @include set-background-image(
//             $homePageRelativePath + "driver-dressed-elegant-costume.jpg",
//             center,
//             no-repeat,
//             cover
//           );

//           &:after {
//             content: "City Service";
//           }
//         }
//       }
//     }

//     &.service-img-cards {
//       position: relative;

//       > div {
//         height: 100%;
//         border-radius: $md-border-radius;

//         &:after {
//           font-weight: bold;
//           content: "";
//           position: absolute;
//           padding: 0.457rem 1.26rem;
//           background: $white-color;
//           left: 1rem;
//           bottom: 1rem;
//           color: $dark-text-color;
//           border-radius: $sm-border-radius;
//         }
//       }

//       .airport-service {
//         @include set-background-image(
//           $homePageRelativePath + "valet-parking-woman-s-car-side-view.jpg",
//           center,
//           no-repeat,
//           cover
//         );

//         &:after {
//           content: "Airport Transfer";
//         }
//       }

//       &.business-prom-service {
//         gap: 1.25rem;

//         .business-meeting {
//           position: relative;
//           @include set-background-image(
//             $homePageRelativePath + "woman-getting-taxi-car.jpg",
//             center,
//             no-repeat,
//             cover
//           );

//           &:after {
//             content: "Business Meeting";
//           }
//         }

//         .prom-service {
//           position: relative;
//           @include set-background-image(
//             $homePageRelativePath +
//               "parking-valet-helping-woman-park-her-car.jpg",
//             center,
//             no-repeat,
//             cover
//           );
//           &:after {
//             content: "Prom Service";
//           }
//         }
//       }
//     }
//   }
// }
