/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "variables.scss";
@import "./responsive";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

body {
  margin: 0;
  background-color: $background-color;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white-color;
  text-shadow: 0 0 1px #b3aba5;
}

p {
  color: $white-color;
}

a {
  color : $black-color;
  text-decoration: none;
  cursor: pointer;
}

ul {
  li {
    list-style: none;
  }
}

.header-highlight{
  color: #fec877;
  text-shadow: 0 0 1px #aa8c5d;
}

button {
  cursor: pointer;
  font-weight: 600;
  padding: 0.457rem 1rem;

  &:disabled{
    cursor: initial;

  }

  &.btn-web-primary{
    color: $btn-text-color;
    background-color: $btn-background-color;

    &:hover,
    &:focus,
    &:active {
      color: $btn-text-color;
      background-color: $btn-background-color;
    }
  }
}

.bg-white {
  background-color: $white-color;
  padding: 2.5rem 4rem;
  border-radius: $md-border-radius;
  margin: 3rem 0;
}
