$white-color: #fff;
$black-color: #000;
$background-color: #111;
$safety-info-background-color: #37302e;

$btn-background-color: #ffc978;
$btn-text-color: #413922;

$heading-txt-color: #fec877;
$heading-txt-shadow-color: #aa8c5d;
$text-color: #dcd9d8;
$dark-text-color: #181818;

$sm-border-radius: 10px;
$md-border-radius: 15px;
$lg-border-radius: 25px;

$sm-font-size : 1.15rem;
$sm-md-font-size : 1.25rem;
$md-font-size : 3.5rem;
$lg-font-size : 4rem;
$xlg-font-size : 5rem;

// navigation
$nav-link-color: #949494;
$nav-link-active-color: #d3d3d3;

@mixin set-background-image(
  $imgUrl,
  $position: 0 0,
  $repeat: no-repeat,
  $size: contain
) {
  background-image: url($imgUrl);
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}

