<div id="carouselExampleIndicators" class="carousel slide" data-bs-touch="true" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner animation-duration-1000 animation-ease-in-out" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout">
    <div class="carousel-item active slide-1">
      <h4>Surrey <span class="heading-light-text">Express</span> Cars</h4>
      <div class="info-text">
        <p>Welcome to Surrey Express Cars website! We offer luxury transportation services for any occassion, from weddings and proms to corporate events.</p>
        <button class="btn btn-web-primary">Book Now</button>
      </div>
    </div>
    <div class="carousel-item slide-2">
      <h4>Airport <span class="heading-light-text">Drop</span> Service</h4>
      <div class="info-text">
        <p>Planning your trip? Let us take the hassle out of getting to the airport! Our reliable airport drop service ensures you arrive on time, every time.</p>
        <button class="btn btn-web-primary">Book Now</button>
      </div>
    </div>
    <div class="carousel-item slide-3">
      <div class="pickup-info text-center">
        <h4>Contact <span class="heading-light-text">24/7</span></h4>
        <p>To book a taxi call 01252418041</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="service-info my-5 p-4 animation-duration-1000 animation-ease-in-out row" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft">
  <div class="city-service-container d-flex flex-column col-lg-4">
    <h1 class="mb-3">Our Services</h1>
    <p>We understand that every event is unique, and we strive to accomodate your individual needs.</p>
    <div class="city-service d-flex flex-column service-img-cards"></div>
  </div>
  <div class="service-img-cards col-lg-4">
    <div class="airport-service"></div>
  </div>
  <div class="business-prom-service d-flex flex-column service-img-cards col-lg-4">
    <div class="business-meeting"></div>
    <div class="prom-service"></div>
  </div>
</div>

<div class="safety-info d-flex justify-content-between">
  <div class="row">
    @for(item of safetyInfoArr; track item){
      <div class="col-lg-3 animation-duration-1000 animation-ease-in-out">
        <div class="d-flex">
          <img [src]="item.imagePath" [alt]="item.altTxt" />"
          <h5 class="mb-0 mt-4">{{item.headerTxt}}</h5>
        </div>
        <p class="mb-0 mt-4">{{item.infoTxt}}</p>
      </div>
    }
  </div>
</div>

<div class="fleet-section">
  <h1 class="mt-0 mb-3 animation-duration-1000 animation-ease-in-out"  pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright">Our Fleet</h1>
  <p class="animation-duration-1000 animation-ease-in-out" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright">We take pride in our diverse fleet of vehicles, designed to meet a variety of trasnportation neds. From compact cars for solo travelers to spacious vans for group outings, each vehicle is meticulously maintained to ensure your comport and safety. Our professionsal drivers are experienced and dedicated providing a smooth ride, no matter the time of day or destination. With our extensive fleet, you can count on us to deliver reliable and efficent service tailored to your specific requirements.</p>
    <h4 class="animation-duration-1000 animation-ease-in-out" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright">Choose a ride that fits your lifestyle.</h4>
    <div class="mt-5 row animation-duration-1000 animation-ease-in-out"  pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright">
        <div class="fleet-card col-lg-4">
          <div class="car-image-container normal-car">
          </div>
          <span class="me-3 mt-4 d-inline-flex align-items-center"><i class="bi bi-people-fill mr-2"></i>4</span>
          <span class="d-inline-flex align-items-center"><i class="bi bi-suitcase-lg mr-2"></i> 2</span>
        </div>
        <div class="fleet-card col-lg-4">
          <div class="car-image-container van">
          </div>
          <span class="me-3 mt-4 d-inline-flex align-items-center"><i class="bi bi-people-fill mr-2"></i>6</span>
          <span class="d-inline-flex align-items-center"><i class="bi bi-suitcase-lg mr-2"></i> 4</span>
        </div>
        <div class="fleet-card col-lg-4">
          <div class="car-image-container luxury-car">
          </div>
          <span class="me-3 mt-4 d-inline-flex align-items-center"><i class="bi bi-people-fill mr-2"></i>4</span>
          <span class="d-inline-flex align-items-center"><i class="bi bi-suitcase-lg mr-2"></i> 2</span>
        </div>
    </div>
</div>

<div class="travel-with-us-section row animation-duration-1000 animation-ease-in-out" pAnimateOnScroll enterClass="scalein" leaveClass="fadeout">
  <div class="travel-section-inne col-lg-6">
    <h1>Your Next Travel With Us?</h1>
    <p>At next travel, we're here to make your journey seamless and enjoyable. Whether you have questions about our taxi services, need assisatance without
      bookings, or want to share feedback, reach out to us through our contact form.
    </p>
    <button class="btn btn-web-primary">Contact Us</button>
  </div>
  <div class="col-lg-6">
    <img src="../../assets/Images/home-page/bus-mercedes.png" alt="mercedes bus">
  </div>
</div>
