@import "../../variables.scss";

$imageRelativePath: "../../assets/Images/";
$homePageRelativePath: $imageRelativePath + "home-page/";

.carousel {
  .carousel-inner {
    z-index: 1;
    height: 37.5rem;
    background: linear-gradient(
      to right,
      $gradient-light-background-color,
      $gradient-dark-background-color
    );
    border-radius: 25px;

    .carousel-item {
      height: 100%;
      width: 100%;
      position: relative;
      background-repeat: no-repeat;
      opacity: 0.8;

      h4 {
        font-size: 4rem;
        position: absolute;

        .heading-light-text {
          color: $heading-txt-color;
          text-shadow: 0 0 1px $heading-txt-shadow-color;
        }
      }

      .info-text {
        position: absolute;
        p {
          color: $text-color;
          font-size: $sm-md-font-size;
        }
      }

      &.slide-1 {
        @include set-background-image(
          $imageRelativePath + "transparent-black-mercides.png",
          45% 158%,
          no-repeat,
          700px 510px
        );

        h4 {
          max-width: 22.5rem;
          left: 3rem;
          top: 2rem;
        }

        .info-text {
          max-width: 24rem;
          right: 3rem;
          top: 2rem;
        }
      }

      &.slide-2 {
        @include set-background-image(
          $imageRelativePath + "innova.png",
          58% 120%,
          no-repeat,
          935px 450px
        );

        h4 {
          right: 6rem;
          top: 3rem;
          font-size: 3rem;
        }
        .info-text {
          left: 3rem;
          top: 3rem;
          p {
            max-width: 24rem;
          }

          .btn-web-primary{
            position: relative;
            z-index: 111;
            pointer-events: all;
            cursor: pointer;
          }
        }
      }

      &.slide-3 {
        @include set-background-image(
          $imageRelativePath + "trasnparent-wolkswagen.png",
          top,
          no-repeat,
          1100px 540px
        );

        .pickup-info {
          position: absolute;
          width: 70%;
          height: 100px;
          border: 1px solid #b09182;
          left: 0;
          right: 0;
          margin-inline: auto;
          bottom: 4rem;
          border-radius: $md-border-radius;
          background: #796359;
          padding: 0.5rem;

          h4 {
            position: relative;
            font-weight: bold;
            font-size: 2rem;
          }

          p {
            color: #dfd9d6;
            font-size: $sm-md-font-size;
          }
        }
      }
    }
  }
  .carousel-control-next, .carousel-control-prev{
   height: fit-content;
   top: 50%;
   transform: translateY(-50%);
  }
}
