@import "../../variables.scss";

$imageRelativePath: "../../assets/Images/";
$homePageRelativePath: $imageRelativePath + "home-page/";

.carousel {
  .carousel-inner {
    height: 37.5rem;
    background: linear-gradient(
      to right,
      $gradient-light-background-color,
      $gradient-dark-background-color
    );
    border-radius: 25px;

    .carousel-item {
      height: 100%;
      width: 100%;
      position: relative;
      background-repeat: no-repeat;
      opacity: 0.8;

      h4 {
        font-size: 4rem;
        position: absolute;

        .heading-light-text {
          color: $heading-txt-color;
          text-shadow: 0 0 1px $heading-txt-shadow-color;
        }
      }

      .info-text {
        position: absolute;
        p {
          color: $text-color;
          font-size: $sm-md-font-size;
        }
      }

      &.slide-1 {
        @include set-background-image(
          $imageRelativePath + "transparent-black-mercides.png",
          45% 158%,
          no-repeat,
          700px 510px
        );

        h4 {
          max-width: 22.5rem;
          left: 3rem;
          top: 2rem;
        }

        .info-text {
          max-width: 24rem;
          right: 3rem;
          top: 2rem;
        }
      }

      &.slide-2 {
        @include set-background-image(
          $imageRelativePath + "innova.png",
          58% 120%,
          no-repeat,
          935px 450px
        );

        h4 {
          right: 6rem;
          top: 3rem;
          font-size: 3rem;
        }
        .info-text {
          left: 3rem;
          top: 3rem;
          p {
            max-width: 24rem;
          }
        }
      }

      &.slide-3 {
        @include set-background-image(
          $imageRelativePath + "trasnparent-wolkswagen.png",
          top,
          no-repeat,
          1100px 540px
        );

        .pickup-info {
          position: absolute;
          width: 70%;
          height: 100px;
          border: 1px solid #b09182;
          left: 0;
          right: 0;
          margin-inline: auto;
          bottom: 4rem;
          border-radius: $md-border-radius;
          background: #796359;
          padding: 0.5rem;

          h4 {
            position: relative;
            font-weight: bold;
            font-size: 2rem;
          }

          p {
            color: #dfd9d6;
            font-size: $sm-md-font-size;
          }
        }
      }
    }
  }
}

.service-info {
  width: 100%;
  height: 500px;
  margin: 3rem 0;
  padding: 2rem;

  > div {
    &.city-service-container {
      h1 {
        font-size: $md-font-size;
        margin-left: 2rem;
      }
      p {
        font-size: $sm-font-size;
        margin-left: 2rem;
      }

      .service-img-cards {
        border-radius: $md-border-radius;
        position: relative;

        &:after {
          font-weight: bold;
          content: "Book Now";
          position: absolute;
          padding: 0.457rem 1.26rem;
          background: $white-color;
          left: 1rem;
          bottom: 1rem;
          color: $dark-text-color;
          border-radius: $sm-border-radius;
        }

        &.city-service {
          height: 100%;
          margin-top: 4rem;

          @include set-background-image(
            $homePageRelativePath + "driver-dressed-elegant-costume.jpg",
            center,
            no-repeat,
            cover
          );

          &:after {
            content: "City Service";
          }
        }
      }
    }

    &.service-img-cards {
      position: relative;

      > div {
        height: 100%;
        border-radius: $md-border-radius;

        &:after {
          font-weight: bold;
          content: "";
          position: absolute;
          padding: 0.457rem 1.26rem;
          background: $white-color;
          left: 1rem;
          bottom: 1rem;
          color: $dark-text-color;
          border-radius: $sm-border-radius;
        }
      }

      .airport-service {
        @include set-background-image(
          $homePageRelativePath + "valet-parking-woman-s-car-side-view.jpg",
          center,
          no-repeat,
          cover
        );

        &:after {
          content: "Airport Transfer";
          left : 1.75rem;
        }
      }

      &.business-prom-service {
        gap: 1.25rem;

        .business-meeting {
          position: relative;
          @include set-background-image(
            $homePageRelativePath + "woman-getting-taxi-car.jpg",
            center,
            no-repeat,
            cover
          );

          &:after {
            content: "Business Meeting";
          }
        }

        .prom-service {
          position: relative;
          @include set-background-image(
            $homePageRelativePath +
              "parking-valet-helping-woman-park-her-car.jpg",
            center,
            no-repeat,
            cover
          );
          &:after {
            content: "Wedding Transfer";
          }
        }
      }
    }
  }
}

.safety-info {
  background-color: $safety-info-background-color;
  padding: 2.5rem 4rem;
  margin: 3rem 0;
  border-radius: $md-border-radius;

  > div {
    img {
      width: 80px;
    }
  }
}

.fleet-section {
  background-color: $safety-info-background-color;
  padding: 2.5rem 4rem;
  margin: 3rem 0;
  border-radius: $md-border-radius;

  > h1 {
    $md-font-size: 3.5rem;
  }

  .fleet-card {
    .car-image-container {
      position: relative;
      height: 300px;
      background-color: $fleet-card-background-color;
      border-radius: $md-border-radius;

      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }

      &:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 90%;
        left: 5%;
        //van.png //luxury.png
        @include set-background-image(
          $homePageRelativePath + "normal.png",
          center,
          no-repeat,
          contain
        );
      }

      &.van {
        &:after {
          @include set-background-image(
            $homePageRelativePath + "van.png",
            center,
            no-repeat,
            contain
          );
        }
      }

      &.luxury-car {
        &:after {
          @include set-background-image(
            $homePageRelativePath + "luxury.png",
            center,
            no-repeat,
            contain
          );
        }
      }
    }

    > span {
      width: max-content;
      padding: 0.25rem 0.75rem;
      font-size: $sm-font-size;
      border-radius: $sm-border-radius;
      background-color: $lighter-dark-background-color;
      color: $white-color;

      > i {
        font-size: $sm-md-font-size;
      }
    }
  }
}

.travel-with-us-section {
  padding: 1rem 4rem 0 4rem;

  .travel-section-inner {
    > h1 {
      $md-font-size: 3.5rem;
      line-height: 1.4;
    }

    .btn-web-primary {
      position: relative;
      z-index: 1;
    }
  }
  .home-contact-us {
    transform: scaleX(-1);
  }
}
